/* Reset.css by Eric Meyer */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}


body {
    font-family: "Montserrat", sans-serif;
    background-color: #1a1a1a;
}

.gut {
    color: whitesmoke;
}

.foot {
    background-color: black;
    color: white;
}

h1 {
    padding: 0;
    margin: 0;
    margin-bottom: .5rem;
}

h2 {
    margin-bottom: .8rem;
}



h3 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.title {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

h3 .cname {
    margin-top: 5rem;
    color: orange;
    font-family: "DM Mono", monospace;
    font-style: italic;
    font-size: 5rem;
    text-align: center;
}

.head {
    /* size, position, styling */
    position: fixed;
    top: 0;
    left: 0;
    background-color:black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 2rem;
    padding: 1rem;
    width: 100%;
}

.head h1 {
    font-size: 2rem;
    width: 100%;
    font-weight: bold;
    transition: all 0.1s;
}

.head h1:hover {
    text-shadow: 0 0 1.2rem white;
}

.head .links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.head .head-link {
    color: white;
    text-align: center;
    text-decoration: none;
    width: 100%; /* Set a fixed width */
    transition: color 0.2s; /* Smooth transition */
}
.head .head-link:hover {
    color: orange;
    cursor: pointer;
}

a {
    color: inherit;
    text-decoration: none;
}


.gut {
    /* offset for fixed header */
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    justify-content: center;
}

.gut h2 {
    font-size: 2rem;
    font-weight: bold;
}

.gut .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gut .blank {
    width: 100%;
}

.gut .about {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.sub-section {
    display: flex;
    flex-direction: column;
    align-self: start;
    padding: 1rem;
}

.sub-section p {
    text-align: left;
}

.faces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.face-section {
    justify-self: center;
    align-self: center;
}

.group-title {
    text-align: center;
}

.person img {
    width: 100px;
    height: 100px;
    border-radius: 20%;
    margin: 1rem;
}

.person {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person p {
    font-weight: bold;
}

.face-section p {
    text-align: center;
}

.foot {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    width: 100%;
    align-items: center;
}

.foot p {
    text-align: center;
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.foot img {
    width: 50px;
    margin: .5rem;
    display: absolute;
    justify-self: left;
}